<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="images/logo-mercado-liebre.svg" alt="">
        <nav>
            <p>Lugar para poner barra de busqueda</p>
            <p>Compra en cuotas y sin tarjeta de crédito</p>
              <ul>
                    <a href="#"><li>Ofertas</li></a>
                    <a href="#"><li>Tiendas Oficiales</li></a>
                    <a href="#"><li>Vender</li></a>
                    <a href="#"><li>Ayuda</li></a>
                </ul>
                <ul>
                    <a href=""><li>Creá tu cuenta</li></a>
                    <a href=""><li>Ingresá</li></a>
                    <a href=""><li>Mis compras</li></a>
                </ul>
        </nav>
    </header>
    <div class="banner">
        <img src="images/img-home-banner.jpg" alt="">
    </div>
    <main>
        <section>
            <h3>Basado en tu última vista</h3>
            <article class="product">
                <img src="images/img-cafetera-moulinex.jpg" alt="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article class="product">
                <img src="images/img-macbook-pro-2019.jpg" alt="">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>
            <article class="product">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article class="product">
                <img src="images/img-tv-samsung-smart.jpg" alt="">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>Smart Tv Samsung 43''</p>
            </article>
        </section>
        <section>
            <h3>Sección de Ofertas</h3>
            <article class="product">
                <img src="images/img-cafetera-moulinex.jpg" alt="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article class="product">
                <img src="images/img-macbook-pro-2019.jpg" alt="">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>
            <article class="product">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article class="product">
                <img src="images/img-tv-samsung-smart.jpg" alt="">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>Smart Tv Samsung 43''</p>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <h4>Envío gratis desde los $2.500</h4>
            <p>Solo por estar registrado en MercadoLiebre tenés envios gratis en  miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta?¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
        </section>

        <p>
            Copyright &#169: 1999-2020 MercadoLiebre S.R.L
        </p>
    </footer>
</body>
</html>