@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');
/* ESTILOS GENERALES */
:root {
    /* Paleta de colores */
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;

    /*Tamaños tipográficos */
    --cuerpo-texto: 12px;
    --titulares: 24px;
    --precios: 18px;
    --descuentos: 16px;
    --descripciones: 16px;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gris-claro);
}

header {
    background-color: var(--amarillo);
}

header img {
    width: 200px;
    margin: 30px 0px 20px 35px;
}

nav input {
    margin-left: 20px;
    margin-bottom: 2px;
    height: 25px;
    width: 175px;
}

.search_icon button  {
    margin-left: 20px;
}

.buy {
    margin: 20px 0px 25px 50px;
}

.buy p {
    display: inline-block;
}

nav ul a {
    text-decoration: none;
    color: black;
}

.menu1 {
    margin-bottom: 17px;
}

.register a, .login a, .basket a {
    display: inline-block;
}

.burguer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
}
.burguer-menu i{
    background-color: var(--celeste);
    color: var(--gris-claro);
    padding: 0.9rem 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
}

.banner {
    display: none;
}

h3 {
    font-size: var(--titulares);
    color: var(--gris-oscuro);
    margin: 1rem 0;
}

.product img {
    width: 100%;
}

.precio {
    font-size: 18px;
}

.desc {
    font-size: var(--descuentos);
}

.descripcion {
    font-size: 16px;
}

footer {
    background-color: white;
    margin: 5px 5px 7px 5px;
}

footer section  {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 60pxc;
}

footer section i {
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 2em;
    color: var(--celeste);
}

footer section p {
    font-size: 12px;
    text-align: center;
}

.security {
    margin-bottom: 40px;
}

.copyright {
    text-align: center;
    padding: 2rem 0;
}
